@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir/Vazir-FD.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Vazir/Vazir-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Vazir/Vazir-FD.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Vazir/Vazir-FD.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Vazir/Vazir-FD.ttf')  format('truetype'); /* Safari, Android, iOS */
}
body{
    background-color: whitesmoke;
    font-family: Vazir, sans-serif;
}
